* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

html {
  background: url('../images/background.jpg')no-repeat center center fixed;
  background-size: cover;
}

li {
  list-style-type: none;
}

body {
  font-family: 'Raleway', sans-serif;
}


#logo {
  text-align: center;
  font-size: 3.5em;
  padding-top: 10px;
  font-family: 'Cinzel Decorative', cursive;
}

/* Container to make modal button responsive and centered*/
#how-to {
  display: flex;
  justify-content: center;
}

/*how to button*/
#how-to-btn {
  margin: 50px 0 ;
  background-color: rgba(41, 38, 38, 0.65);
  padding: 10px;
  border-radius: 2em;
  text-decoration: none;
  border: none;
  font-size: 1.5em;
  transition: all 0.2s;
  color: whitesmoke;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

#how-to-btn:hover {
  background-color: rgba(65, 62, 62, 0.65);
}

/*How to section Background*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*how to section content*/
.how-to-content {
  margin: 0 auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  height: 70vh;
  border-radius: 2em;
  background-color: #e9e9e9;
  overflow-y: scroll;
}

/*to center content in how to section*/
.how-to-content p, h3, h4 {
  text-align: center;
  letter-spacing: 1px;
}

/*close and back to top button in how to section*/

#close-how-to, #back-to-top{
  font-size: 2em;
  text-decoration: none;
  border: none;
  background-color: rgba(233,233,233,0.1);
}

#close-how-to {
  float: right;
  position: fixed; right: 15%;
}

#back-to-top{
  float: left;
  position: fixed; 
}

#close-how-to:hover, #close-how-to:focus, #back-to-top:hover, #back-to-top:focus {
  color: rgba(65, 62, 62, 0.65);
  text-decoration: none;
  cursor: pointer;
}

/* scrollbar */
.how-to-content::-webkit-scrollbar-track {
  background: none;
}

.how-to-content::-webkit-scrollbar-thumb {
  background: black;
}

iframe {
  display: block;
  margin: 0 auto;
}

.small-display{
  display: none;
}

/*tabs - container to hold .tab at the end and then the individual tab buttons*/
#tab-container {
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: flex-end;
}

.tab {
  overflow: hidden;
  justify-self: flex-end;
  width: 80%;
}

.tab button {
  background-color: rgba(41, 38, 38, 0.65);
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  border-top-left-radius: 1.2em;
  border-top-right-radius: 1.2em;
  font-size: 1.2em;
  color: whitesmoke;
  transition: all 0.2s;
  font-family: 'Raleway', sans-serif;
}

.tab button:hover {
  background-color: rgba(65, 62, 62, 0.65);
}

.tab button.active {
  background-color: rgba(184, 180, 180, 0.65);
}

/*Emulator*/
#emulator { /*container*/
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: center;
}

#emulator-window { /*the box that will hold all of the content*/
  width: 80%;
  height: 100%;
  background-color: black;
  color: whitesmoke;
  position: relative;
}

.tabcontent { /*each tab will have its own displayed content*/
  width: 80vw;
}

.tabcontent h1, h2, h3, h4, button {
  font-family: 'Cinzel Decorative', cursive;
}

#oracle, #scene, #list {
  display: flex;
}

/*oracle tab content*/

#chaos { /*chaos number in top right*/
  width: 25%;
  text-align: center;
  position: absolute;
  top: 50px;
  color: whitesmoke;
}

#chaos-next, #chaos-prev { /*next and previous buttons for chaos number*/
  cursor: pointer;
  position: relative;
  bottom: 30px;
  width: auto;
  padding: 10px;
  color: whitesmoke;
  font-size: 12px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,0.1);
  border: black;
}

#chaos-prev:hover, #chaos-next:hover {
  color: rgba(184, 180, 180, 0.55);
}

.chaos-red { /* animation that triggers when chaos number reaches lvl 9*/
  animation: color 3s infinite linear;
}

@keyframes color {
  50% {
    color: #bb0a1e;
  }
  0% {
    color: whitesmoke;
  }
}

/*text reveal box*/

#text-window { /*container for any text that will be displayed*/
  width: 100%;
  height: 300px;
}

.buffer { /* help position any text away from the top of the window*/ 
  margin-bottom: 100px;
}

.word { /* text that will be displayed as a result of the three buttons in the bottom row of the oracle tab*/
  text-align: center;
  font-size: 2em;
  font-family: 'Eater', cursive;
  color: transparent;
  animation: blur 7s ease-out;
}

.word:nth-child(2) {
	animation-delay: 2s;
  animation-duration: 6s;
}

.word:nth-child(3) {
	animation-delay: 3s;
  animation-duration: 5.5s;
}

.word:nth-child(4) {
	animation-delay: 4s;
  animation-duration: 6s;
}

@keyframes blur { /* display text in a blur in blur out animation - help from these outside sources -  https://css-tricks.com/fun-with-blurred-text/ - https://codepen.io/onge/pen/KwdZpE*/
	0%	{text-shadow:  0 0 90px #fff; opacity:0;}
	5%	{text-shadow:  0 0 80px #fff;}
  10%	{text-shadow:  0 0 70px #fff;}
	15%	{opacity: 1;}
	20%	{text-shadow:  0 0 0px #fff;}
	80%	{text-shadow:  0 0 0px #fff;}
	85%	{opacity: 1;}
	95%	{text-shadow:  0 0 90px #fff;}
	100% {text-shadow:  0 0 100px #fff; opacity:0;}
}

/*bottom row*/

.bottom-row { /*container for bottom row containing the three buttons in oracle tab*/
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
}

.fate-qs {
  width: 30%;
  display: flex;
  justify-content: center;
}

#question-btn, #event-btn, #title, #scene-btn, #add-scene-btn { /*buttons style*/
  background-color: rgba(184, 180, 180, 0.2);
  padding: 2px;
  border-radius: 1.1em;
  text-decoration: none;
  border: none;
  font-size: 1.5em;
  transition: all 0.2s;
  color: whitesmoke;
  cursor: pointer;
  margin-bottom: 5px;
  height: 60px;
}

#question-btn:hover, #event-btn:hover {
  background-color: rgba(184, 180, 180, 0.55);
}

/*setting odds to a question - it is contained in its own modal that expands when question button is clicked - it has a slifer for going between the different odds*/
#odds-container, #odds-header, #set-odds { 
  position: absolute;
  left: 0; right: 0;
  margin: auto; 
  width: 33%;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: whitesmoke;
}

#odds-container { /* container for setting the odds to a question */
  top: 30%;
  cursor: initial;
  background-color: rgba(184, 180, 180, 0.2);
  padding: 2px;
  border-radius: 1.1em;
  text-decoration: none;
  border: none;
  transition: all 0.2s;
}

#odds-header {
  top: 10%;
  text-align: center;
}

#set-odds {
  top: 58%;
}

#set-odds-button {
  font-size: 1.8em;
  background-color: black;
  border: none;
  color: whitesmoke;
  cursor: pointer;
}

.odds-value {
  margin: 15px 0;
}

.odds-slider {
  display: none;
}

/* odds Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 10%;
  width: auto;
  background-color: rgba(153, 29, 29, 0);
  padding: 16px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border: none;
}

/* Position the "next button" to the right */
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: rgba(184, 180, 180, 0.55);
}

.odds-modal {
  display: none; 
  position: absolute; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* scene tab content */
/*scene boxes - input for title and for textarea - the boxes contained in a window that is also scrollable*/
#scene-window {
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 2.5% 0 2.5% 9%;
  box-sizing: border-box;
}

.scene-box { 
  width: 30%;;
  height: 200px;
  margin: 2px;
  border: 1px solid white;
  border-radius: 1.1em;
  position: relative;
}

.scene-box input {
  display: block;
  margin: 0 auto;
}

.scene-box textarea {
  background-color: black;
  border: none;
  resize: none;
  width: 90%;
  height: 60%;
  display: block;
  margin: 10px auto;
  outline: none;
  text-decoration: underline;
  color: whitesmoke;
  font-size: 1.1em;
  line-height: 25px;
  letter-spacing: 2px;
  overflow-y: scroll;
}

.scene-close { /*delete scene box*/
  position: absolute;
  right: 5%; bottom: 5%;
  font-size: 2em;
  cursor: pointer;
}

#scene-bottom-row { /*contains add scene button*/
  width: 100%;
  display: flex;
  justify-content: center;
}

/* List tab content */
/*contains space for two different types of list - characters and threads - taking up roughly 70/30 rule*/
#list-container {
  width: 100%;
  height: 65vh;
  display: flex;
}

#characters {
  width: 60%;
  height: 100%;
  overflow: auto;
}

#threads {
  width: 40%;
  height: 100%;
  overflow: auto;
 }

 /*styling the scrollbars so that they blend in with app asthetics a bit more*/
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 2em;
}

.header {
  padding: 25px 0 0;
  color: whitesmoke;
  text-align: center;
  width: 70%;
}

input {
  border: none;
  width: 70%;
  padding: 5px;
  margin: 0 2.5%;
  display: inline-block;
  font-size: 16px;
  background-color: black;
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
  outline: none;
}

.addBtn {
  padding: 10px;
  color: whitesmoke;
  display: inline-block;
  text-align: center;
  font-size: 2em;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  background-color: rgba(0,0,0,0.1);
}

ul {
  margin: 0;
  padding: 0;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.1);
  color: whitesmoke;
  font-size: 1.8em;
}

ul li {
  cursor: pointer;
  position: relative;
  color: whitesmoke;
  padding: 12px 8px 12px 40px;
  font-size: 1.4em;
  transition: 0.2s;
  width: 60%;
  margin: 0 2.5%;
  display: inline-block;
}

/* footer */
#footer {
  display: flex;
  justify-content: center;
  padding: 50px 0 0;
}

#footer i {
  font-size: 2em;
  letter-spacing: 10px;
}

#footer i:hover {
  font-size: 2.2em;
}

#footer a {
  color: black;
}

/*media queries*/

@media screen and (max-width: 900px) {
  #odds-container {
    width: 70%;
  }
  #odds-header {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 870px){
  .header {
    font-size: 1.1em;
  }
  .addBtn {
    font-size: 1.5em;
    padding: 2px;
  }
  .scene-box {
    width: 45%;
  }
  .scene-box textarea {
    font-size: .8em;
  }
  iframe {
    width: 80%;
  }
}

@media screen and (max-width: 700px){
  #characters {
    width: 100%;
    height: 49%;
    margin: 1% auto;
  }
  #threads {
    width: 100%;
    height: 48%;
    margin: 1% auto;
  }
  #list-container {
    display: block;
  }
  .header {
    margin: 0 auto;
  }
  ul li {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 500px) {
  #chaos, .fate-qs {
    font-size: 0.9em;
  }
  #chaos {
    margin-left: 10px;
  }
  #how-to-btn {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  #odds-header {
    font-size: 1em;
  }

  .odds-value {
    font-size: .8em;
  }

  #emulator-window{
    width: 95%;
    margin: 0 2.5%;
  }
  
  .tabcontent {
    width: 100%;
  }
  #tab-container {
    width: 95%;
    margin: 0 2.5%;
  }
  .scene-box {
    width: 90%;
  }
  .scene-box textarea {
    font-size: .7em;
  }
}

@media screen and (max-width: 400px){
  .word {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 375px) {
  #chaos, .tab, .fate-qs {
    font-size: 0.68em;
  }

  #event-btn, #scene-btn, #question-btn {
    font-size: 1em;
  }

  #chaos-txt{
    font-size: 1em;
  }

  #how-to-btn {
    margin-top: 30px;
  }

  .how-to-content {
    height: 90vh;
    width: 85vw;
    position: relative;
    bottom: 7%
  }

  #close-how-to{
    left:82.5%;
  }

  .extra {
    display: none;
  }

  .small-display{
    display: initial;
  }

  .odds-value {
    font-size: 0.7em;
  }

  #chaos-prev, #chaos-next {
    bottom: 20px;
    font-size: 8px;
  }

  #emulator {
    height: 100vh;
  }

  #logo {
    font-size: 1.8em;
  }

  #how-to-btn {
    font-size: 1.1em;
  }

  #sound {
  font-size: 2.5em;
}
  #characters {
    height: 49vh;
}
  #threads {
    height: 49vh;
}
  ul li {
    font-size: 1em;
  }
}

@media screen and (max-width: 280px) {
  #chaos, .tab, .fate-qs {
    font-size: 0.5em;
  }
}

@media screen and (max-height: 660px) {
  #odds-header, #odds-container, #set-odds {
    font-size: 1em;
    height: 40px;
  }

  #odds-container {
    top: 35%;
  }

  .prev, .next {
    top: -10%;
  }
}

@media screen and (max-height: 550px) {
  #emulator {
    height: 100vh;
  }

  #logo {
    font-size: 1.8em;
  }

  #how-to-btn {
    font-size: 1.1em;
  }

  #sound {
  font-size: 2.5em;
}
.how-to-content{
  bottom: 9.5%;
}
}

@media screen and (max-height: 400px) {
  .word {
    font-size: 1.5em;
  }

  .bottom-row {
    bottom: 50px;
  }

  #chaos, .fate-qs {
    font-size: 0.68em;
    height: 10px;
  }
  #emulator {
    height: 150vh;
  }

  #scene-window {
    height: 130vh;
  }
}
